@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.ActionLink("Clientes", "Index", "Clientes")
        @Html.ActionLink("Produtos", "Index", "Produtos")
        @Html.ActionLink("Pedidos", "Index", "Pedidos")
    </div>
</body>
</html>
